@if $debug == 1 {
	* {
		outline: 1px dashed #ccc;
	}
	body:before {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 100;
		width: 10px;
		height: 10px;
		content: '';
		background: yellow;
		@include bps() {
			background: purple;
		}
		@include bpm() {
			background: blue;
		}
		@include bpl() {
			background: red;
		}
	}
}
