@include keyframes(circleGrow2) {
	from {
		stroke: #ccc;
		stroke-width: 0;
	}
	to {
		stroke: #ccc;
		stroke-width: 8;
	}
}
.footer-main {
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 60px 0 0;
	color: #8c8c8c;
	line-height: 30px;
	text-align: center;
	.wrap{
		position: relative;
		z-index:40;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: -50px;
		width: 100%;
		height: 100px;
		background: $bg-light;
		@include backface-visibility(hidden);
		@include transform(skewY(-2deg));
	}
	svg {
		position: absolute;
		right: 50%;
		width: 1300px;
		height: 100%;
		z-index: 20;
		display: none;
	}
	.line {
		stroke-width: 1;
		&.shown {
			stroke: #aaa;
		}
	}
	.circle {
		stroke-linecap: round;
		@include animation(circleGrow2 .4s 1.45s forwards);
	}
	.no-cssanimations & {
		.circle {
			stroke: #ccc;
			stroke-width: 8;
		}
	}
	.footer-wrap {
		@include clearfix();
	}
	.logo-tagline {
		margin-top: 12px;
	}
	h4 {
		color: #ccc;
		text-align: center;
	}
	address {
		font-style: normal;
	}
}

.nav-footer {
	display: none;
	float: left;
	width: 66.6666666666%;
	color: #ccc;
	ul {
		@include clearfix();
	}
	span {
		font: 300 $font-size-h4 $font-heading;
		letter-spacing: .15em;
		text-transform: uppercase;
	}
	li {
		float: left;
		width: 50%;
		ul {
			margin: $line-height 0 0;
		}
		li {
			float: none;
			width: auto;
		}
	}
	a {
		color: #878787;
		text-decoration: none;
		@include transition(color .2s ease-out);
		&:hover{
			color: $orange;
		}
	}
}

@include bpm() {
	.footer-main {
		.contact {
			float: left;
			width: 33.3333333333%;
		}
		.logo-tagline {
			margin-top: 36px;
		}
	}
	.nav-footer {
		display: block;
	}
}
@include bpl() {
	.footer-main {
		svg {
			display: block;
		}
		text-align: left;
		.wrap {
			@include clearfix();
		}
		.footer-wrap {
			float: right;
			width: 65%;
		}
		h4 {
			text-align: left;
		}
		.logo-tagline {
			float: left;
			margin-top: 114px;
		}
	}
}
