.lightbox-content {
	.info {
		margin-bottom: $line-height;
		padding: 10px;
		background: $gray-dark;
		color: #fff;
		font-size: 90%;
		text-align: left;
		-webkit-font-smoothing: antialiased;
		dl,
		dt,
		dd {
			margin: 0;
			padding: 0;
			line-height: 20px;
		}
		dt {
			font-weight: bold;
		}
		dd {
			margin-bottom: 15px;
		}
	}
	@include bpm() {
		@include clearfix;
		.info {
			float: right;
			width: 45%;
			margin-top: 26px;
		}
	}
}

// default
.informal{
	fieldset,
	ul,
	li{
		border: none;
		margin: 0;
		padding: 0;
		background: none;
	}
	legend {
		width: 100%;
		margin: 0 0 $line-height;
		color: #151515;
		font: 100 30px $font-heading;
		letter-spacing: .15em;
		line-height: $line-height * 1.5;
		text-align: center;
		text-transform: uppercase;
		padding: 0 75px 0 75px;
		@include title-underline();
	}
	li{
		margin-bottom: 20px;
	}
	label{
		display: block;
	}
	input:not([type=submit]), select, textarea{
		height: 40px;
		padding: 0 10px;
		background: #fff;
		border: 1px solid $gray-medium;
		position: relative;
		width: 100%;
		display: block;
		border-radius: 2px;
		@include placeholder {
			font-style: italic;
			color: $gray-medium;
		}
	}
	textarea {
		height: 210px;
		resize: none;
	}
	input[type="checkbox"]{
		width: inherit;
		height: inherit;
	}
	.has-error{
		color: $red-dark;
		input{
			border-color: $red-dark;
		}
		.error{
			font-size: 90%;
		}
	}
	.has-success {
		color: #18c520;
	}
}

.lightbox-form {
	padding: 30px 15px;
	label {
		text-align: center;
	}
	input, select, textarea {
		display: block;
		margin: 0 auto;
	}
	select {
		width: 140px;
	}
	input:not([type=submit]) {
		width: 270px;
	}
	.form-left {
		label {
			text-align: left;
		}
		input, select, textarea {
			margin-left: 0;
		}
	}
	@include bpm(){
		width: 640px;
		padding: 30px 60px 60px;
		textarea {
			width: 450px;
		}
		legend {
			padding: 0 15px;
		}
	}
}
