.header-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	box-shadow: 0 1px rgba(45, 48, 54, 0.05);
	background: #fff;
	z-index: 100;
	@include transition(left .2s ease-in-out);
	.menu-active & {
		left: 0px;
	}
	.show-menu {
		.menu-active &{
			display: none;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 54px;
		height: 100%;
		padding: 0;
		border: 0;
		background: transparent;
		svg {
			display: block;
			margin: 0 0 0 15px;
		}
		rect {
			fill: $blue;
			@include transform(rotate(0deg) translate3d(0, 0, 0));
			@include transform-origin(0 0);
			@include transition(transform .2s ease-in-out);
		}
		&:focus {
			outline: 0;
		}
		.menu-active & {
			rect:first-child {
				@include transform(rotate(45deg) translate3d(5px, -8px, 0));
			}
			rect:last-child {
				@include transform(rotate(-45deg) translate3d(-12px, 0, 0));
			}
		}
	}
	.logo {
		display: block;
		height: 100%;
		margin: 0 auto;
	}
	@include bpl() {
		.show-menu {
			display: none;
		}
		.logo {
			float: left;
			margin: 0 0 0 18px;
		}
	}
}
